/** Global */

html{
  font-size: 16px;
}

body{
  font-family: 'Source Serif Pro', serif;
  background-color: #eee;
}

h1{
  font-family: 'Rubik', sans-serif;
}

.container{
  width: 1024px;
  margin: auto;
}


/** Header ------------------------------ */

.header{
  display: block;
  background-color: #fff;
  height: 64px;
}

.header .container{
  display: flex;
  height: 4rem;
}

.flexcontainer {
   display: flex;
   flex-direction: row;
   flex-grow: 1;
 }

 .branding{
   display: flex;
   align-items: center;
   padding-right: 1.5rem;
 }

 .navigation-container{
   display: flex;
   align-items: center;
   flex-direction: row;
   flex-grow: 1;
   justify-content: flex-end;
 }

 .header h1{
   font-size: 1.5rem;
   font-weight: 500;
   text-transform: uppercase;
   display: flex;
   margin-left: .5rem;
   align-items: center;
   letter-spacing: .1rem;
 }

 .brand-light{
   font-weight: normal;
   color: #777;
   margin-left: .1rem;
 }

 .branding img{
   display: flex;
   align-items: center;
   width: auto;
   height: 3rem;

 }

 nav{
   text-align: right;
   font-family: 'Rubik', sans-serif;
   color: #777;
   letter-spacing: .05rem;
 }

 nav li{
   list-style: none;
   display: inline-block;
   padding-left: 1rem;
 }

 .header-m{
   display: none;
 }



/** Hero ------------------------------ */




.hero-2 {
  display: block;
  background: url("../images/banner_2.jpg") no-repeat;
  background-position:50% 50%;
  background-size:cover;
}

.hero-2 .container{
  display: flex;
  height: 40rem;
  align-items: center;
}

.cta{
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 11rem;
  background-color: rgba(255, 255, 255, .75);
  padding: 2rem;
  text-align: left;
}

  .cta h1{
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    color: #000;
    font-weight: 500;
  }

  .cta p{
    font-family: 'Rubik', sans-serif;
    color: #333;
    line-height: 1.2rem;
    margin-top: 1rem;
  }

  .cta .button{
    display: block;
    position: relative;
    width: 10rem;
    height: auto;
    background-color: orange;
    margin-top: 1rem;
    padding: 1rem;
    transition: color;
  }

  .cta .button:hover{
    background-color: red;
    transition: .5s ease-out .2s;
  }

  .cta .button p{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin: 0;
  }

.news-events{
  background-color: #fff;
  height: auto;
}

.news-events .container{
  background-color: ;
  display: flex;
  flex-direction: row;
  flex-basis: 400px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  padding: 3rem 0;
}

.ne-left{
  background-color: #fff;
  height: 30rem;
  padding-right: 2rem;
  flex: 1;
  border-right: 1px solid #ddd;
}

.ne-left img{
  display: block;
  width: 100%;
  height: auto;
}

.ne-left video{
  display: block;
  width: 100%;
  height: auto;
}

.ne-left h1{
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
  margin-top: 2rem;
}

.ne-left p{
  font-size: 1rem;
  font-family: 'Source Serif Pro', serif;
  line-height: 1.2rem;
  margin-top: 1rem;
  color: #555;
}

.ne-left .byline{
  font-family: 'Rubik', sans-serif;
  font-size: .7rem;
  color: #888;
  margin-top: 1rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: normal;
}

.ne-right{
  display: flex;
  flex-direction: column;
  height: auto;
  padding-left: 2rem;
  flex: 1;
}

.ne-right-stub{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #efefef;
}

.ne-right-stub-text{
  flex-grow: 1;
}

.ne-right h1{
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  color: #000;
}

.ne-right p{
  font-size: 1rem;
  font-family: 'Source Serif Pro', serif;
  line-height: 1.2rem;
  color: #555;
  margin-top: .5rem;
}

.ne-right .more{
  font-family: 'Rubik', sans-serif;
  font-size: .7rem;
  color: orange;
  font-weight: 500;
  margin-top: 1rem;
  margin-right: 1.5rem;
  text-transform: uppercase;
  text-align: right;
  letter-spacing: .1rem;
  transition: color;
}

.ne-right .more:hover{
  color: red;
  transition: .5s ease-out .2s;
}

.ne-right img{
  display: block;
  float: left;
  width: 8rem;
  height: 8rem;
  padding-right: 2rem;

}

.tracks{
  background-color: #eee;
  height: auto;
}

.tracks h1{
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 500;
  text-align: center;
  display: block;
  padding: 3rem 0 1rem 0;
}

.tracks .container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  margin-bottom: 3rem;
  flex: 1;
  justify-content: space-around;
}

.track-stub{
  display: flex;
  background-color: #fff;
  flex-basis: 300px;
  margin: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}

.track-stub h2{
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
  color: #000;
  font-weight: 500;
  margin: 1.5rem 0 1rem 1rem;
  text-align: left;
}

.track-stub h3{
  font-family: 'Rubik', sans-serif;
  font-size: .7rem;
  color: #000;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .1rem;
  margin: 0 1rem;
}

.track-stub p{
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  color: #000;
  margin: 1rem 0 1.5rem 1rem;
  line-height: 1.2rem;
}

.track-stub img{
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
}

.thesis{
  background-color: #666;
  height: 40rem;
}

.news-events .heading{
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
  color: #000;
  font-weight: 500;
  text-align: center;
  display: block;
  padding: 3rem 0 1rem 0;
}

.footer{
  background-color: #fff;
  height: 40rem;
}


/** Responsive ------------------------------ */


@media only screen and (min-width : 320px) and (max-width : 480px) {
/* Styles */

nav{
  display: none;
}

body{
  background-color: #FFF;
}

.header{
  display: none;
}

.header-m{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 0rem;
  align-items: center;
  margin: 2rem;
  width: 375px;
}

.branding img{
  display: inline-flex;
  flex: 1;
  height: 2rem;
}

.container{
  width: auto;
  margin: 0;
}

.hero-2 {
  background: url("../images/banner_2.jpg") no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 425px;
  margin-left: 0rem;
}

.hero-2 .container{
  height: 40rem;
  width: auto;
  align-items: flex-end;
}

.cta{
  width: auto;
  height: auto;
  background-color: rgba(255, 255, 255, .75);
  padding: 1rem;
  text-align: left;
}

.cta h1{
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
}

.cta p{
  font-family: 'Rubik', sans-serif;
  color: #333;
  line-height: 1.2rem;
  margin-top: .5rem;
}

.cta .button{
  display: block;
  position: relative;
  width: auto;
  height: auto;
  background-color: orange;
  margin-top: 1rem;
  padding: 1rem;
}

.cta .button p{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin: 0;
}

.news-events .container{
  display: flex;
  flex-direction: column;
  width: 393px;
}

.ne-left{
  background-color: #fff;
  width: inherit;
  height: auto;
  padding: 1rem;
  flex: 1;
  border-right: 0;
}

.news-events{
  background-color: #fff;
  height: auto;
  width: 100%;
}

.ne-right{
  display: flex;
  flex-direction: column;
  height: auto;
  padding-left: 1rem;
  flex: 1;
  width: 100%;
}

.ne-right h1{
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  color: #000;
}

.ne-right p{
  font-size: 1rem;
  font-family: 'Source Serif Pro', serif;
  line-height: 1.2rem;
  color: #555;
  margin-top: .5rem;
}

.ne-right .more{
  margin-top: 1rem;
  margin-right: 1rem;
  text-transform: uppercase;
  text-align: right;
  letter-spacing: .1rem;
}

.ne-right img{
  padding-right: 1rem;
}

.tracks{
  background-color: #eee;
  height: auto;
  width: 425px;
}

.tracks .container{
  width: 425px;
}

}
